@import url('https://giscus.app/themes/light.css');

main {
    --color-canvas-default: #fdfdf8;
    --color-canvas-subtle: #f1f1e8;
    --color-canvas-inset: #f1f1e8;
    --color-fg-default: #151515;
    --color-fg-muted: #565951;
    --color-border-default: #bfc1b7;
    --color-border-muted: #dcded4;
    --color-accent-fg: #f54e00;
    --color-accent-emphasis: #f54e00;
    --color-btn-primary-bg: #f54e00;
    --color-btn-primary-hover-bg: #d94400;
    --color-btn-primary-border: #f54e00;
    --color-btn-primary-text: #ffffff;
    font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
}
