@import url('https://giscus.app/themes/dark.css');

main {
    --color-canvas-default: #151515;
    --color-canvas-subtle: #1f201d;
    --color-canvas-inset: #1f201d;
    --color-fg-default: #eeefe9;
    --color-fg-muted: #a6a89f;
    --color-border-default: #3c3d38;
    --color-border-muted: #2c2d29;
    --color-accent-fg: #f54e00;
    --color-accent-emphasis: #f54e00;
    --color-btn-primary-bg: #f54e00;
    --color-btn-primary-hover-bg: #d94400;
    --color-btn-primary-border: #f54e00;
    --color-btn-primary-text: #ffffff;
    font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
}
